body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-grid {
    display: grid;
    grid-template-columns: calc(100vw / 3 - 6px) calc(100vw / 3 - 6px) calc(100vw / 3 - 6px);
    grid-template-rows: 30vh 30vh 30vh;
    /*width: 100vw;
    height: 60vh;*/
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    box-sizing: border-box;
    border: 2px solid white;
}

#group1 {
    background-color: red;
    align-items: center;
}

#group2 {
    background-color: darkgreen;
    align-items: center;
}

#group3 {
    background-color: blue;
    align-items: center;
}

#group4 {
    background-color: orange;
    align-items: center;
}

#group5 {
    background-color: chocolate;
    align-items: center;
}

#group6 {
    background-color: rgb(134, 36, 253);
    align-items: center;
}

#group7 {
    background-color: rgb(44, 102, 58);
    align-items: center;
}

#group8 {
    background-color: maroon;
    align-items: center;
    font-size: small;
}

#group9 {
    background-color: seagreen;
}

.about-demo {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between the QR code and the text */
    padding: 20px;
}

.about-demo .content-box {
    width: 125%;
}

.workspaces {
    padding: 0 0 0 0ex;
    align-self: flex-start;

}

.qrcode {
    width: 300px; /* Adjust size as needed */
    height: 300px;
    border: 2px solid #333;
    border-radius: 5px;
}

ul#contributions {
    list-style-type: none;
    padding: 0;
    margin-left: 120px; /* Pushes the list to the right */
    /*width: 50%;*/ /* Adjust as needed */
    background-color: #f9f9f9; /* Optional: to differentiate it visually */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
